<%= render partial: 'posts/form', locals: { user: @user } %>
  <% @user.wall_posts.each_with_index do |p, i| %>
    <div class="spacer"></div>

<%= render partial: 'posts/post', locals: { p: p, i: i } %>
<% end %>