<h1>Users</h1>

  <% @users.each do |user| %>
  <% next if user == current_user %>
  <div class="row">
    <ul class="list-inline">
    <li><%= image_tag avatar_url(user, '32'), height: '32', width: '32' %></li>
    <li class='u-name'> <%= link_to user.name, user_path(user) %> </li>
    <li><%= render partial: 'shared/add_friend', locals: { user: user } %></li>
  </ul>

  </div>
  <% end %>
