<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>

  <% if current_user.accepted_friendships.include?(user.id) %>
    Remove friend
  <% elsif  current_user.sent_friend_requests.include?(user.id) %>
    Already sent friend request
  <% elsif  current_user.received_friend_requests.include?(user.id) %>
    Accept friend request
  <% else %>
    <%= link_to "Add friend", friendships_path(friend_id: user.id), :method => :post %>
  <% end %>

  </li>
  <% end %>
</ul>