<h1><%= @user.name %></h1>


<ul>
  <li> Email: <%= @user.email %></li>
  <li> Friends: <%= @user.accepted_friendships.size %></li>
  <li> <%= render partial: 'shared/add_friend', locals: { user: @user } %> </li>
</ul>