<%= form_for @post, class: 'form-control' do |f| -%>

  <%= f.text_area :content , placeholder: "O czym teraz myslisz?", class: "form-control", rows: 5 %>
  <%= f.hidden_field :author_id, :value => current_user.id %>
  <div class="text-right">
    <%= f.submit 'Opublikuj', class: 'btn btn-primary' %>
  </div>
<% end -%>