<% ['/posts/body', 'likes/bar', 'comments/comments'].each do |path| %>
  <%= render partial: path ,locals: { p: p } %>
<% end %>

<div id="demo<%= p.id %>" class="collapse">
  <%= render partial: 'comments/comment_form', locals: { p: p } %>
</div>