<% ['/posts/body', 'likes/bar', 'comments/comments'].each do |path| %>
  <%= render partial: path ,locals: { p: p, i: i  } %>
<% end %>

<div id="demo<%= i %>" class="collapse">
  <%= render partial: 'comments/comment_form', locals: { p: p } %>
</div>