$light-grey: #fafafa;
$grey: #eee;
$blue: #2e6da4;

.spacer { margin-top: 50px; }


.post, .comments {
  padding: 10px;
  border: $grey 1px solid;

}

.comments {
  background: $light-grey;

}

.slim {
   padding: 3px;
   margin: 3px;
   color: $grey
 }

 .blue {
  color: $blue
 }