$light-grey: #fafafa;
$grey: #eee;
$blue: #2e6da4;
$dark-grey: #7a7a7a;

.spacer { margin-top: 50px; }
.short-spacer { margin-top: 25px; }



.post, .comments {
  padding: 10px;
  border: $grey 1px solid;

}

.comments {
  background: $light-grey;

}

.slim {
   padding: 3px;
   margin: 3px;
   color: $grey;
 }

 .blue {
  color: $blue;
 }

 .grey {
  color: $dark-grey;
 }

.thumbnail-friends {
  margin-bottom: 10px;
}

.f-name{
  font-size: 10px;
}

.u-name {
  width: 15%;
}

#notifications {
  width: 300px;
}

#notifications > li {
  margin-bottom: 5px;
}

